@media (max-width: 900px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_1-1 {
    display: grid;
    gap: 50px;
  }

  .grid_about {
    display: grid;
    gap: 30px;
  }

  .grid_tema2 {
    display: grid;
    gap: 30px;
  }

  .layout {
    display: grid;
    gap: 30px;
  }

  .grid_style {
    display: grid;
    gap: 10px;
  }

  .image3 {
    display: grid;
    gap: 20px;
  }
}

.language {
  display: grid;
  gap: 15px;
}

@media (min-width: 900px) {
  .contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .socials {
    grid-column: 2;
  }

  .grid_2-1 {
    display: grid;
    gap: 10px 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }

  .textbox {
    grid-column: 1;
  }

  .imgbox {
    grid-column: 2;
  }

  .button {
    grid-column: 1;
    grid-row: 2;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .grid_about .imgbox {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .about {
    grid-column: 2;
  }

  .abouttext {
    grid-column: 2;
  }

  .contactbox {
    display: grid;
    gap: 150px;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  .kontakt {
    grid-row: 1;
  }

  .image2 {
    grid-column: 2;
  }

  .cvcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
  }

  .cvjob {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .cvschool {
    grid-column: 2;
  }

  .kompetencer {
    grid-column: 2;
    grid-row: 2;
  }

  .temabutton {
    grid-column: 2;
  }

  .grid_tema {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid_tema2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .tematext {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .image3 {
    display: grid;
    gap: 10px;
    grid-column: 3;
  }

  .layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .layout1 {
    grid-column: 1;
  }

  .layout2 {
    grid-column: 2;
  }

  .layout3 {
    grid-column: 3;
  }

  .grid_style {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  .style {
    grid-column: 2;
    grid-row: 1;
  }

  .styletext {
    grid-column: 1;
    grid-row: 1;
  }

  .grid_figma {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 35px;
  }

  .figma_text {
    grid-column: 2;
    grid-row: 1;
  }

  .figma-embed {
    grid-column: 1;
    grid-row: 1;
  }
}
