@media (max-width: 900px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_1-1 {
    display: grid;
    gap: 30px;
  }
}

.language {
  display: grid;
  gap: 15px;
}

@media (min-width: 900px) {
  .contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .socials {
    grid-column: 2;
  }

  .grid_2-1 {
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }

  .textbox {
    grid-column: 1;
  }

  .imgbox {
    grid-column: 2;
  }

  .button {
    grid-column: 1;
    grid-row: 2;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1 .imgbox {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .about {
    grid-column: 2;
  }

  .abouttext {
    grid-column: 2;
  }

  .contactbox {
    display: grid;
    gap: 45px;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  .kontakt {
    grid-row: 1;
  }

  .image2 {
    grid-column: 2;
  }
}
