/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*root indstillinger*/
:root {
  --primary: #f61511;
  --secondary: #ece6d4;
  --tertiary: #3f3f43;
  --font1: pt sans caption;
  --font2: roboto;
}

/*font indstillinger*/
h1 {
  font-family: var(--font1), sans-serif;
  color: var(--primary);
  letter-spacing: 5px;
  font-weight: 900;
}

h2 {
  font-family: var(--font1), sans-serif;
  color: var(--tertiary);
  font-weight: 100;
}

h3 {
  font-family: var(--font1), sans-serif;
  color: var(--primary);
}

p {
  font-family: var(--font2), sans-serif;
  color: var(--tertiary);
  line-height: 35px;
  text-wrap: pretty;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
    padding: 12px 0;
  }

  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
    padding: 15px 0;
  }

  p {
    font-size: 1.1rem;
  }
}

/*generelle indstillinger*/
body {
  background-color: var(--secondary);
}

/* main {
  margin: 38px;

  @media (min-width: 960px) {
    margin: 90px auto;
    max-width: 900px;
  }
} */

main {
  margin: 80px 40px;

  @media (min-width: 900px) {
    margin: 80px 50px 70px;
  }
  @media (min-width: 1070px) {
    margin: 80px auto 50px auto;
    max-width: 1000px;
  }
}

/*header og footer*/
header {
  position: sticky;
  padding: 30px;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
}

.bigline {
  flex-grow: 1;
  height: 3px;
  background-color: red;
  margin: 0 20px;
}

.menubar {
  display: flex;
  align-items: center;
}

.menulinks {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menubar li a {
  font-family: var(--font2), sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--primary);
  text-decoration: none;
  letter-spacing: 2px;
}

.menubar li a:hover {
  opacity: 75%;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.3s ease;
}

.burger .line {
  width: 30px;
  height: 4px;
  background-color: var(--primary);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Første linje roteres og flyttes */
}

.burger.active .line:nth-child(2) {
  opacity: 0; /* Mellemste linje forsvinder */
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px); /* Tredje linje roteres og flyttes */
}

@media (max-width: 900px) {
  .menulinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 30px;
    left: 30px;
    width: 90%;
    background-color: var(--secondary);
    border: 3px solid var(--primary);
    padding: 1.3rem;
    z-index: 100;
  }

  .burger {
    display: flex;
    cursor: pointer;
  }

  .menulinks.active {
    display: flex;
  }
}

.footercontainer {
  margin: 30px 50px 100px;
}

.footercontainer .logo {
  width: 200px;
}

.contactinfo ul {
  list-style: none;
  font-size: 1.3rem;
  font-family: var(--font2), sans-serif;
  line-height: 35px;
  margin: 20px 0;
}

.contactinfo a {
  color: var(--tertiary);
  text-decoration: none;
}

.contactinfo a:hover {
  color: var(--tertiary);
  text-decoration: underline;
}

.socials ul {
  width: 150px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.socials {
  place-self: center right;
}

/*knap indstillinger*/
.button {
  display: inline-block;
  background: var(--primary);
  padding: 13px 25px;
  width: 170px;
  place-self: center;
}

a.button {
  font-family: var(--font2);
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.button:hover {
  background: var(--primary);
  opacity: 70%;
}

hr {
  border: 2px solid var(--primary);
  margin: 70px 0;
}

/*billede med rød border*/
.imgbox {
  border: 5px solid var(--primary);

  @media (max-width: 900px) {
    margin: 30px 0 90px 50px;
  }

  @media (min-width: 900px) {
    margin-left: 70px;
  }
}

.image1 {
  transform: translate(-50px, 50px);
}

@media (min-width: 900px) {
  .button {
    display: inline-block;
    place-self: end left;
  }
}

/*to links på forsiden*/

.grid_1-1 {
  display: flex;
  gap: 40px; /* Afstand mellem kortene */
  padding: 2rem 0;
}

.card {
  /* border: 3px solid var(--primary);
  background-color: #f8f5eb; */
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; /* Centrer tekst */
}

.card .button {
  margin: 15px 0;
  place-self: center;
}

/*om mig og cv*/
.grid_1-1 .imgbox {
  margin: 0;

  @media (max-width: 900px) {
    margin-right: 50px;
    margin-bottom: 70px;
  }

  @media (min-width: 900px) {
    margin-right: 90px;
    margin-bottom: 25px;
  }
}

.image2 {
  transform: translate(50px, 50px);
}

.pbold {
  font-weight: 700;
}

.contact {
  margin: 20px 0;
}

.contact ul {
  list-style: none;
  font-size: 1.1rem;
  color: var(--tertiary);
  font-family: var(--font2);
  line-height: 35px;
  margin: 0 0 20px;
}

.language {
  margin: 28px 0;

  @media (max-width: 900px) {
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    padding: 15px 0;
  }

  @media (min-width: 900px) {
    border: 3px solid var(--primary);
    padding: 15px;
  }
}

/* .grid_1-2 {
  margin: 30px 0 0;
}

.grid_1-2 p {
  line-height: 2rem;
}

.cvtitel {
  color: white;
  background-color: var(--primary);
  max-width: fit-content;
  padding: 5px 10px;

  @media (max-width: 900px) {
    font-size: 1.2rem;
    margin: 45px 0 12px;
  }

  @media (min-width: 900px) {
    font-size: 1.4rem;
    margin: 45px 0 10px;
  }
}

.pbold {
  font-weight: 900;
}

.grid_1-2 .pbold {
  @media (max-width: 900px) {
    margin-top: 25px;
  }
}

.cv li {
  font-family: var(--font2), sans-serif;
  color: var(--tertiary);
  line-height: 1.9rem;

  @media (max-width: 900px) {
    font-size: 1rem;
  }

  @media (min-width: 900px) {
    font-size: 1.1rem;
  }
}

.cv ul {
  list-style-position: inside;

  @media (max-width: 900px) {
    margin: 15px 0 40px;
  }

  @media (min-width: 900px) {
    margin: 18px 0 20px;
  }
}

.cv small {
  font-family: var(--font2), sans-serif;
  font-weight: 300;

  @media (max-width: 900px) {
    font-size: 1rem;
  }

  @media (min-width: 900px) {
    font-size: 1.05rem;
  }
}

.sprog .pbold {
  margin-top: 12px;
}

.grid_1-2 .imgbox {
  margin: 0;
}

.themes {
  margin: 10px 0;
}
.themebox {
  border: 2px solid var(--primary);
  padding: 20px;
  margin: 20px 0;
} */
