/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*root indstillinger*/
:root {
  --primary: #f61511;
  --secondary: #ece6d4;
  --tertiary: #3f3f43;
  --font1: pt sans caption;
  --font2: roboto;
}

/*font indstillinger*/
h1 {
  font-family: var(--font1);
  color: var(--primary);
  letter-spacing: 5px;
  font-weight: 900;
}

h2 {
  font-family: var(--font1);
  color: var(--tertiary);
  font-weight: 100;
}

p {
  font-family: roboto;
  color: var(--tertiary);
  line-height: 35px;
  text-wrap: pretty;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
    padding: 12px 0;
  }

  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
    padding: 15px 0;
  }

  p {
    font-size: 1.1rem;
  }
}

/*generelle indstillinger*/
body {
  background-color: var(--secondary);
}
main {
  margin: 30px;

  @media (min-width: 960px) {
    margin: 90px auto;
    max-width: 900px;
  }
}

/*header og footer*/
header {
  padding: 30px 50px;
}

.logo img {
  width: 130px;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.container a {
  font-family: roboto;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.container a:hover {
  color: var(--primary);
  opacity: 75%;
}

/* .menubar {
  background-color: #f61511;
} */

/*knap indstillinger*/
.button {
  background: var(--primary);
  padding: 13px 25px;
  max-width: fit-content;
  place-self: center;
}

a.button {
  font-family: var(--font2);
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.button:hover {
  background: var(--primary);
  opacity: 70%;
}

hr {
  border: 2px solid var(--primary);
  margin: 70px 0;
}

/*billede med rød border*/

.imgbox {
  border: 5px solid var(--primary);

  @media (max-width: 900px) {
    margin-left: 50px;
    margin-bottom: 80px;
  }

  @media (min-width: 900px) {
    margin-left: 70px;
  }
}

.image1 {
  transform: translate(-50px, 50px);
}

@media (min-width: 900px) {
  .button {
    display: inline-block;
    place-self: end left;
  }
}

/*om mig og cv*/
.grid_1-2 img {
  margin: 30px 0 10px;
}

.grid_1-2 p {
  line-height: 2rem;
}

.cvtitel {
  color: white;
  background-color: var(--primary);
  max-width: fit-content;
  padding: 5px 10px;

  @media (max-width: 900px) {
    font-size: 1.2rem;
    margin: 45px 0 12px;
  }
}

.pbold {
  font-weight: 900;
}

.cv li {
  font-family: roboto;
  color: var(--tertiary);
  line-height: 1.9rem;
  @media (max-width: 900px) {
    font-size: 1rem;
  }
}

.cv ul {
  margin: 15px 0 40px;
  list-style-position: inside;
}

.cv small {
  font-family: roboto;
  font-weight: 300;

  @media (max-width: 900px) {
    font-size: 1rem;
  }
}
