/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*root indstillinger*/
:root {
  --primary: #f61511;
  --secondary: #ece6d4;
  --tertiary: #3f3f43;
  --font1: pt sans caption;
  --font2: roboto;
}

/*font indstillinger*/
h1 {
  font-family: var(--font1), sans-serif;
  color: var(--primary);
  letter-spacing: 5px;
  font-weight: 900;
}

h2 {
  font-family: var(--font1), sans-serif;
  color: var(--tertiary);
  font-weight: 100;
}

h3 {
  font-family: var(--font1), sans-serif;
  color: var(--primary);
}

p {
  font-family: var(--font2), sans-serif;
  color: var(--tertiary);
  line-height: 35px;
  text-wrap: pretty;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
    padding: 12px 0;
  }
  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.3rem;
    padding: 15px 0;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
}

/*generelle indstillinger*/
body {
  background-color: var(--secondary);
}

main {
  margin: 80px 40px;

  @media (min-width: 900px) {
    margin: 80px 50px 70px;
  }
  @media (min-width: 1070px) {
    margin: 80px auto 50px auto;
    max-width: 1000px;
  }
}

/*header og footer*/
header {
  position: sticky;
  padding: 30px;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
}

.bigline {
  flex-grow: 1;
  height: 3px;
  background-color: red;
  margin: 0 20px;
}

.menubar {
  display: flex;
  align-items: center;
}

.menulinks {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menubar li a {
  font-family: var(--font2), sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--primary);
  text-decoration: none;
  letter-spacing: 2px;
}

.menubar li a:hover {
  opacity: 75%;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.3s ease;
}

.burger .line {
  width: 30px;
  height: 4px;
  background-color: var(--primary);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 900px) {
  .menulinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 30px;
    left: 30px;
    width: 90%;
    background-color: var(--secondary);
    border: 3px solid var(--primary);
    padding: 1.3rem;
    z-index: 100;
  }

  .burger {
    display: flex;
    cursor: pointer;
  }

  .menulinks.active {
    display: flex;
  }
}

footer {
  padding: 40px 20px;
}

.footercontainer {
  display: flex;
  flex-direction: column; /* elementer placeret ovenpå hinanden */
  align-items: center;
  gap: 18px;
}

footer .logo {
  width: 140px;
  margin-bottom: 5px;

  @media (min-width: 900px) {
    width: 150px;
  }
}

.footercontainer a {
  color: var(--tertiary);
  font-size: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0 15px;
}

.socials img {
  width: 30px;
  height: auto;

  @media (min-width: 900px) {
    width: 40px;
  }
}

.footerbottom {
  margin: 80px 0 0;
  text-align: center;
}

.footerbottom p {
  font-size: 10px;
  letter-spacing: 3px;
}

/*knap indstillinger*/
.button {
  display: inline-block;
  background: var(--primary);
  padding: 13px 25px;
  width: 170px;
  place-self: center;
}

a.button {
  font-family: var(--font2);
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.button:hover {
  background: var(--primary);
  opacity: 70%;
}

hr {
  border: 2px solid var(--primary);
  margin: 70px 0;
}

/*billede med rød border*/
.imgbox {
  border: 5px solid var(--primary);

  @media (max-width: 900px) {
    margin: 30px 0 90px 50px;
  }

  @media (min-width: 900px) {
    margin-left: 70px;
  }
}

.image1 {
  transform: translate(-50px, 50px);
}

@media (min-width: 900px) {
  .button {
    display: inline-block;
    place-self: end left;
  }
}

/*to links på forsiden*/

.grid_1-1 {
  display: flex;
  gap: 40px;
  padding: 10px 0;
}

.card {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card .button {
  margin: 5px 0;
  place-self: center;
}

/*om mig og cv*/
.grid_about .imgbox {
  margin: 0;

  @media (max-width: 900px) {
    margin-right: 50px;
    margin-bottom: 70px;
  }

  @media (min-width: 900px) {
    margin-right: 90px;
  }
}

.grid_about {
  @media (min-width: 900px) {
    margin-bottom: 100px;
  }
}

.image2 {
  transform: translate(50px, 50px);
}

.pbold {
  font-weight: 700;
}

.contact {
  margin: 20px 0;
}

.contact ul {
  list-style: none;
  font-size: 1.1rem;
  color: var(--tertiary);
  font-family: var(--font2);
  line-height: 35px;
  margin: 0 0 20px;
}

.language {
  margin: 27px 0 37px;

  @media (max-width: 900px) {
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    padding: 35px 0;
  }
}

.noline {
  @media (max-width: 900px) {
    display: none;
  }
}

.cvtitel {
  color: var(--primary);
  font-size: 1.8rem;

  @media (min-width: 900px) {
  }
}

.cvbox ul {
  margin: 15px 0 50px;
  font-size: 1rem;
  font-family: var(--font2), sans-serif;
  color: var(--tertiary);
  list-style: square;
  list-style-position: inside;
  line-height: 35px;
}

small {
  font-family: var(--font2), sans-serif;
  color: var(--tertiary);
  font-weight: 300;
  font-size: 0.9rem;
}

.kompetencer h2 {
  padding: 0;
}

.kompetencer ul {
  line-height: 32px;
  margin: 5px 0 30px;
}

/*portfolio forside*/
.themebox {
  margin: 70px 0 90px;
}

.themes {
  border: 3px solid var(--primary);
  margin: 18px;
  padding: 18px;

  @media (min-width: 900px) {
    margin: 25px 0 30px;
    padding: 30px;
    width: 600px;
  }
}

.themes a {
  text-decoration: none;
  font-family: var(--font1);
  color: var(--tertiary);
  font-size: 1.1rem;

  @media (min-width: 900px) {
    font-size: 1.7rem;
    display: inline-block; /* Sørger for, at transform kun gælder for teksten */
    transition: transform 0.3s ease, color 0.3s ease;
  }
}

.themes a:hover {
  text-decoration: none;
  transform: scale(1.1); /* Gør teksten større */
  color: var(--tertiary);

  @media (min-width: 900px) {
    transform: scale(1.1); /* Gør teksten større */
  }
}

.left {
  text-align: center;
  place-self: center left;
}

.right {
  text-align: center;
  place-self: center right;
}

/* tema 2*/
.grid_tema2 {
  margin: 20px 0px;
  @media (min-width: 900px) {
    margin: 20px 0px 40px;
  }
}

.temaintro {
  max-width: 75ch;
}

.tematext h3 {
  margin: 29px 0 0;
}

.temabutton {
  margin: 25px;
  place-self: center;
}

.layout {
  margin-top: 10px;
}

.grid_1-1 p {
  margin: 10px 0 20px;
}

.buttoncontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
